body{
    display: flex;
} 

ul {
    height: 18vh;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(163, 162, 162, 0.406);
}
li {
    float: right;
    margin: 50px;
   
   grid-column:  1 /span 1;
   grid-row: 1 /span 2; 
}
#bon1 {
    width: 100%;
    height: 96.8vh;
}
#bon2 {
    width: 100%;   
}
#bon3 {
    width: 100%;
    height: 46.5vh;   
}
#bon4 {
    width: 100%;
    margin-top: -4px;
}
#bon5 {
    width: 100%;
    margin-top: -5px;
    height: 49.5vh;
}
#bon6 {
    width: 100%;
    height: 39.5vh;
    margin-top: -4px;
}
#bon7 {
    width: 100%;
    width: 70vh;
    margin-top: -4px;
}
#bon8 {
    width: 100%;
    height: 79.2vh;
    margin-top: -4px;
}
#bon9 {
    width: 100%;
    height: 39vh;
    margin-top: -4px;
}
#bon10 {
    width: 100%;
    height: 39vh;
    margin-top: -4px;
}
#logoP{
    margin-top: -45px;
   width: 15vw;
   height: 30vh;
}
