@media screen (max-width: 600x)""

    {}

.presentation {
    margin-left: ;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    color: #fe7389;
    font-family: "Cooper Black";
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pres {
    text-align: center;
    font-family: "Cooper Black";
    margin-bottom: 0%;
    margin-left: 4%;
    margin-right: 4%;
}

.text {
    margin-left: 42px;
    font-family: "Cooper Black";
}

.gamme {
    font-family: "Cooper Black";
    margin-left: 7%;
}

.present {
    font-family: "Cooper Black";
    margin-left: %;
}

<---- zone 2 ---->
<---- fin de zone 2

<---- zone 3 ---->
<---- fin de zone 3 ---->

<---- zone 4 ---->
<---- fin de zone 4 ---->